{{ define "main" }}
<div class="content">
<p>The Sachsian Syndicate is a community of artists inspired by the work of the Tom Sachs Studio. You can also find us on <a href="https://www.instagram.com/sachsiansyndicate/">Instagram</a> and <a href="https://discord.com/invite/rocketfactory">Discord</a>.</p>

<div class="section">
<h2>ASSIGNMENTS</h2>
  <p>Somewhere along the way, Tom Sachs started sharing a list of ‘required reading,’ and we started treating Instagram more like the old Australian School of the Air than a social network. We read some of the books and followed along from home as best we could.</p>

  <p>Eventually, reading theory wasn’t enough, and we wished that Tom Sachs had also given us homework assignments... So we started making our own.</p>
</div>

{{ range ($.Site.GetPage "/assignment").Pages }}
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-5 right"><img class="pure-img right frame" width="500" height="500" src="/images/{{ .Params.Icon }}" alt="{{.Params.alt}}"></div>
    <div class="pure-u-1 pure-u-md-4-5">
      <div class="desc">
        <h3>{{ .Title }}</h3>
        {{ .Content }}
        <p><a href="{{ .Params.original }}">original post</a>
        {{ if .Params.submissions }}
          | <a href="{{ .Params.submissions }}">submissions</a>
        {{ end }}
        </p>
      </div>
    </div>
  </div>
{{ end }}

<div class="section">
<h2> ZINES </h2>
</div>

{{ range ($.Site.GetPage "/zine").Pages }}
<div class="pure-g">
  <div class="pure-u-1 pure-u-md-1-5 right"><img class="pure-img right frame" loading="lazy" src="/images/{{ .Params.Icon }}" width="500" height="500" alt="{{.Params.alt}}"></div>
  <div class="pure-u-1 pure-u-md-4-5">
    <div class="desc">
      <h3>{{ .Title }}</h3>
      {{ .Content }}
      <p><a href="{{ .Params.online }}">online</a> | <a href="{{ .Params.print }}">print</a></p>
    </div>
  </div>
</div>
{{ end }}

<div class="section">
<h2> PROJECTS </h2>
</div>

<div class="pure-g">
{{ range ($.Site.GetPage "/project").Pages }}
<div class="pure-u-1 pure-u-md-1-3 right">
      <div class="desc">
        <a href="{{ .Params.link }}"><img class="pure-img right" width="500" height="500" loading="lazy" src="/images/{{ .Params.Icon }}" alt="{{.Params.alt}}"></a>
        <h3>{{ .Title }}</h3>
        <p>{{ .Description }}</p>
        <p><a href="{{ .Params.link }}">source</a></p>
      </div>
</div>

{{ end }}
</div>


{{ end }}