<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">

<title>SASY ★ Sachsian Syndicate</title>
<meta name="viewport" content="width=device-width,minimum-scale=1">
<meta name="theme-color" content="#ab342b">

{{- template "_internal/opengraph.html" . -}}
{{- template "_internal/schema.html" . -}}
{{- template "_internal/twitter_cards.html" . -}}


<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
<link rel="stylesheet" href="/dist/css/main2.css">

<link rel="manifest" href="/site.webmanifest">

<script defer data-domain="sachsiansyndicate.com" src="https://plausible.io/js/plausible.js"></script>

</head>
<body>
<div id="layout">
  <div class="header">
    <h1>* SASY *</h1>
  </div>
  {{ block "main" . }}{{ end }}
  <div class = "footer">
  <p class="banner">
░░░░░░░░░░░░░░░░░▒▒░░░░░░░▒▓░░░░░░░░▒▒▒░░░░░░░▒▒░░░░░░░▒░░░░░░░░▒▒░░░░░░░▒▒▒░░░░░░░▒░░░░░░░░▒▓▓░░░░░
░░░░░░░▒█▓░░░░░░███▒░░░░░███▓░░░░░░▓███▒░░░░▒███▒░░░░░███▓░░░░░███▒░░░░░▓███░░░░░▒███░░░░░░████▒░░░░
░░░░░░████▓░░░░█████░░░░█████▒░░░░▓████▓░░░░█████▒░░░▓████░░░░█████░░░░▓████▒░░░▓████▒░░░░██████░░░░
░░░░░▓█████░░░██▓▓▓█▒░░▒██████░░░░██████░░░▓██████░░░▓████▓░░░█████▓░░▓██████░░░█▓▓▓▓▓░░░▓▓▓▓▒▓█░░░░
░░░░░▓░░░░▓░░░▓░░░░▒▒░░▒▒░░░▒█░░░░▓░░░░▓▒░░▒▒░░░░▓░░░█░░░▒█░░░▓░░░▒▒░░▓░░░░░▓░░░▒░░░░▓░░░▓░░░░░▓░░░░
░░░░░▒░░░░▓░░░▓░░░░▓░░░▒░░░░░▓░░░▒▒░░░░▓░░░▒▒░░░░▓░░░▓░░░░▓░░░▓░░░▓░░░▒░░░░▒▒░░▒░░░░░▓░░░▓░░░░░▓░░░░
░░░░▒▒░░░░▓░░░▓░░░░▓░░░▓░░░░░▒░░░▒▒░░░░▒░░░░▒░░░░▓░░░▓░░░░▓░░░▓░░░▓░░░▓░░░░▒░░░▓░░░░░▓░░░▒░░░░░▓░░░░
░░░░▒░░░░░▓░░░▓░░░░▓░░░▓░░░░░▒░░░▒░░░░░▓░░░░▒░░░░▓░░░▓░░░░▓░░░▓░░░▓░░░▓░░░░▓░░░▓░░░░░▓░░▒▒░░░░░▒░░░░
░░░▒▓▒▒▒▒▓▒░░░▓▒▒▓▓█▒░░▓░░░░▒▒░░░▓░░░░░▓░░░░▓░░░░█░░▒█▒▒▒▒█░░▒█▓▒▓█░░░▓▒▒▒▒▓▒░▓▓▓▓▓▓▓█░░▒▒░░░░▓▓░░░░
░░▒▒▒▓▒▒▒▓█░▓▓▓▓▓▓▓▒▒▒█▓▓▓▓▓██░▒▓▓▓▓▓▓▓█▓░▓█▓▓██▓█▒▓▓▒▒▒▒▒▒░▓▓▒▒▒▓█░▒█▒▒▒▒▒▒░░▓▒▒▒▒▒▒▓▒▓▓▓▓▓▒▒▒▒▓░░░
  </p>
  <p>Be afraid and do it anyway.</p>
  <p class="legal">A community preservation experiment by <a href="https://reprage.com">Clinton Freeman</a>. All content copyrighted, and other rights reserved by their respective owners.</p>
  </div>
</div>
</body>
</html>